body{
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f2f6fa;
  max-width: 600px;
  margin: 0 auto;
  font-family: Arial, Verdana, Tahoma, Geneva, sans-serif;
}
table{
  padding: 0;
}
img{
  display: block;
  width: 100%;
}
a{
  text-decoration: none;
  color: #c8cce5;
  display: block;
  background-color: #ffe316;
  border-radius: 30px;
  padding: 10px;
  font-weight: bold;
}
.padding-10{
  height: 10px;
  width: 10px;
}
.padding-20{
  height: 20px;
  width: 20px;
}
.lot{
  border-radius: 20px;
  background-color: #ffffff;
  text-align: center;
}
.product__image{
  height: 240px;
  width: 240px;
}
.product__sale-text{
  color: #ff5132;
  font-size: 14px;
  font-weight: bold;
}
.product__sale{
  line-height: 55px;
  font-size: 60px;
  font-weight: bold;
  color: #ff5132;
}
.product__text-cell{
  height: 70px;
}
.product__text{
  color: #b8cce5;
  font-size: 18px;
}
.product__button{
  text-align: center;
  padding: 5px;
}
.two-lots{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}